<%= form_with(model: @law, local: true) do |form| %>

	<div>
		<!--
		<%= form.label :tipo %>
		<%= form.text_field :tipo %>
		-->
		<div class="container">
			<h3>Nuevo</h3>
			<p>Registre un nuevo documento (ordenanza, declaración, resolución, etc.) </p>
				
				<%= form.select :tipo, ["Ordenanza", "Declaración", "Resolución"]%>

			 <form class="form-horizontal" >
			  <div class="form-group">
			    <label class="control-label col-sm-2" <%= form.label :Fecha %></label>
			    <div class="col-sm-6">
			      <input type="date" class="form-control" <%= form.date_field :fecha %>
			    </div>
			  </div>
			  <div class="form-group">
			    <label class="control-label col-sm-2" <%= form.label :Número %></label>
			    <div class="col-sm-6">
			      <input type="text_field" class="form-control" <%= form.text_field :nro %>
			    </div>
			  </div>
			  <div class="form-group">
			    <label class="control-label col-sm-2" <%= form.label :Título %></label>
			    <div class="col-sm-6">
			      <input type="text_field" class="form-control" <%= form.text_area :titulo %>
			    </div>
			  </div>
			  <div class="form-group">			    
			    <label class="control-label col-sm-2" <%= form.label :Cuerpo %></label>
			    <div class="col-sm-6">
			    	<input type="text_field" class="form-control" <%= form.text_area :cuerpo, :cols => 30, rows: 20 %>
			    </div>
			  </div>



			  <div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
			      <button type="submit" class="btn btn-default">Guardar</button>
			    </div>
			  </div>

			</form> 
		</div>
	</div>

<% end %>

